#map {
  height: 500px;
  width: 100%;
}

#hide-crimes, #show-crimes {
  width: 100%;
  font-size: .75rem;
}

h2 {
  font-size: 2.25rem;
}

.btn-small {
    height: 30px;
    line-height: 30px;
    padding: 0 0.5rem;
}
