<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>New 2 Austin</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script type="text/javascript" src="/js/app.js"  defer></script>
  </head>
  <body>
    <!-- navbar -->

    <!-- /navbar -->
    <div class="container">
      <div class="row">
        <!-- side navigation and user forms -->
        <aside class="col s12 m4">
          <h2>Find Your New Austin Apartment</h2>
          <div class="row">

            <div class="input-field col s12">
              <!-- <div class="col s6"> -->
                <input type="button" class="waves-effect waves-light btn btn-small" id="show-crimes" value="Show Crimes">
              <!-- </div>
              <div class="col s6"> -->
                <input type="button" class="waves-effect waves-light btn btn-small" id="hide-crimes" value="Hide Crimes">
              <!-- </div> -->
            </div>

            <div class="col s12"><hr></div>

            <div class="col s12">
                <p>Draw a shape to search the area within it</p>
                <input type="submit" class="waves-effect waves-light btn btn-small" id="toggle-drawing" value="Drawing Tools">
            </div>


            <div class="col s12"><hr></div>


            <div class="input-field col s8">
              <input placeholder="Cherrywood, University of Texas..." id="zoom-to-places" type="text">
              <!-- <input type="button" value="zoom" id="landmark-btn"> -->
              <label for="landmark">Search by Area, Landmark</label>
            </div>
            <div class="input-field col s4">
              <input class="waves-effect waves-light btn btn-small right" id="zoom-to-places-go" type="button" value="Zoom">
            </div>


            <div class="col s12"><hr></div>


            <div class="input-field col s8">
              <input placeholder="Apartments, bars, gyms..." id="search-nearby-places" type="text">
              <!-- <input type="button" value="zoom" id="landmark-btn"> -->
              <label for="landmark">Search for nearby places</label>
            </div>
            <div class="input-field col s4">
              <input class="waves-effect waves-light btn btn-small right" id="search-nearby-places-go" type="button" value="Go">
            </div>


            <div class="col s12"><hr></div>


            <!-- <div class="input-field col s6 m12"> -->
              <div class="input-field col s8">
                <select id="crimeType">
                  <option value="" disabled selected>Choose your option</option>
                  <option value="1">Sexual Assault, Rape</option>
                  <option value="2">Theft and Burglary</option>
                  <option value="3">Assault</option>
                  <option value="4">Possession</option>
                  <option value="5">Driving and Auto</option>
                  <option value="6">All</option>
                </select>
                <label>Choose crime severity</label>

              </div>
              <div class="input-field col s4">
                <input class="waves-effect waves-light btn btn-small right" id="crimeType-go" type="button" value="Update">
              </div>
            <!-- </div> -->


            <div class="col s12"><hr></div>


            <div class="col s6 m12">
              <form action="#">
                <label>Choose Map Type</label>
                <p>
                  <input name="group1" type="radio" id="toggleStandard" checked='checked'/>
                  <label for="toggleStandard">Standard</label>
                </p>
                <p>
                  <input name="group1" type="radio" id="toggleCluster" />
                  <label for="toggleCluster">Cluster</label>
                </p>
                <p>
                  <input name="group1" type="radio" id="toggleHeatmap"  />
                  <label for="toggleHeatmap">Heatmap</label>
                </p>
              </form>
            </div>
          </div>
        </aside>
        <!-- /side navigation and user forms -->

        <!-- map -->
        <main class="col s12 m8">
          <h2>Map Results</h2>
          <div class="row" id="map"></div>
        </main>
        <!-- /map -->
      </div>
    </div>
    <script src="https://www.gstatic.com/firebasejs/4.3.0/firebase.js"></script>
    <script>
      // Initialize Firebase
      var config = {
        apiKey: "AIzaSyCQ6jakzNhGOqumAicSrHgJP7srxho5Awc",
        authDomain: "new2austin-4a9a6.firebaseapp.com",
        databaseURL: "https://new2austin-4a9a6.firebaseio.com",
        projectId: "new2austin-4a9a6",
        storageBucket: "",
        messagingSenderId: "754189777725"
      };
      firebase.initializeApp(config);
    </script>
    <script src="/js/markerclusterer.js"></script>
    <script defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBmtXin7oAd31UpI6KzioQIdSNBqCQuKx8&libraries=drawing,geometry,places,visualization&callback=initMap" type="text/javascript"></script>
  </body>
</html>
